.surveyWrapp{
    padding-top: 30px;
    padding-left: 29px;
}

.surveyMain{
    width: 1288px;
    height: 431px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ebecee);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBECEE;
    border-radius: 2px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}

/*///////////////////
/////LEFT SURVEY////
//////////////// */

.leftSurvey{
    width:550px;
    height:100%;
    position: relative;
    padding-left: 20px;
}

.dropdCustWrapp{
    width: 341px;
    height: 55px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.dropdCustWrappField{
    width: 341px;
    height: 49px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBECEE;
    border-radius: 2px;
    opacity: 1;
    padding-left: 15px;
}


.dropdMain{
    width: 311px;
    height: 19px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.fieldset{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-12);
    color: var(---747474-sub-text);
    text-align: left;
    font: normal normal normal 12px/20px Roboto;
    letter-spacing: 0.12px;
    color: #747474;
    opacity: 1;
}

.titleDrop{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---403f40-main-text);
    text-align: left;
    font: normal normal medium 16px/20px Roboto;
    letter-spacing: 0px;
    color: #403F40;
    font-weight: 600;
}

.questWrapp{
    padding-top: 0px;
    position:absolute;
    top:105px;
    width: 417px;
    height: 154px;
    cursor: pointer;
}

.titleQuest{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---403f40-main-text);
    text-align: left;
    font: normal normal medium 16px/20px Roboto;
    letter-spacing: 0px;
    color: #403F40;
    font-weight: bold;
}

.radio{
    width: 18px;
    height: 18px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DFE2EA;
    border-radius: 9px;
    opacity: 1;
    margin-left:-8px;
    margin-top: 11px;
}

.checkboxWrapp{
    width: 341px;
    height: 122px;
    opacity: 1;
    position: absolute;
    top: 289px;
    cursor: pointer;

}

.chbox{
    margin-top: 10px;
    width: 18px;
    height: 18px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DFE2EA;
    border-radius: 2px;
    opacity: 1;
}

.radioLabel{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---403f40-main-text);
    text-align: left;
    font: normal normal medium 14px/18px Roboto;
    letter-spacing: 0px;
    color: #403F40;
    opacity: 1;
    font-size: 14px;
    font-weight: bold;
}

.filterCh{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---403f40-main-text);
    text-align: left;
    font: normal normal medium 16px/20px Roboto;
    letter-spacing: 0px;
    color: #403F40;
    opacity: 1;
    font-weight: bold;
}

.labcheck{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---403f40-main-text);
    text-align: left;
    font: normal normal medium 14px/18px Roboto;
    letter-spacing: 0px;
    color: #403F40;
    opacity: 1;
}

/*///////////////////
/////MIDDLE SURVEY////
//////////////// */
.middleSurvey{
    display: flex;
    padding-top: 5px;
}

/*///////////////////
/////RIGHT SURVEY////
//////////////// */
.rightSurvey{
    width: 314px;
    height: 429px;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border-radius: 0px 1px 1px 0px;
    position: relative;
}

.rightInfoWrapp{
    position: absolute;
    top:104px;
    left: 30px;
    width: 191px;
    height: 244px;
}

.info{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---403f40-main-text);
    text-align: left;
    font: normal normal medium 16px/20px Roboto;
    letter-spacing: 0px;
    color: #403F40;
    font-weight: 600;
}

.detInfo{
    position: absolute;
    top:39px
}

.singleTitle{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-403f40cc);
    text-align: left;
    font: normal normal normal 14px/18px Roboto;
    letter-spacing: 0px;
    color: #403F40CC;
}

.singleNumber{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---403f40-main-text);
    text-align: left;
    font: normal normal medium 16px/20px Roboto;
    letter-spacing: 0px;
    color: #403F40;
    opacity: 1;
    font-weight: bold;
}
/*///////////////////
/////END RIGHT SURVEY////
//////////////// */